

<button>

    <a href="/add">add</a>
</button>
</br>
<table width="100%"; border="1";>
    <thead>
       <tr>
           <td>Id</td>
        <td>Imagem</td>
           <td>Name</td>
           <td>hp</td>
           <td>attack</td>
            <td>defense</td>
           <td>special attack</td>
           <td>special defense</td>
        <td>Ações</td>
       </tr>
    </thead>

    <tbody>
        <% resultado.forEach((user)=>{ %>
            <tr>
                <td><%= user.id %></td>
                <td>
                    <img src="<%= user.file %>" width="50px" alt="">
                </td>
                <td><%= user.name %></td>
                <td><%= user.hp %></td>
                <td><%= user.attack %></td>
                <td>
                    <%= user.attack %>
                </td>
                <td>
                    <%= user.special_attack %>
                </td>
                <td>
                    <%= user.special_defense %>
                </td>
               <td>
                   <button>
                       <a href="/edit-action/<%= user.id %>">edit</a>
                   </button>
                   <button>
                       <a href="/delete-action/<%= user.id %>" onclick=" return confirm('tem certeza de excluir esse usuario?')">delete</a>
                   </button>
               </td>
            
            </tr>
        <%})%>
    </tbody>
</table>